<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Курсы валют</title>
</head>
<body class="container">
    <form method="POST" action="create/">
        {% csrf_token %}
        <h1>Курсы валют</h1>
        <p>1 Доллар США равен</p>
        <h2>{{currency_doll}} рублям</h2>
        <p>{%now "N, j, Y, P"%}</p>
        <hr>
        <p>1 Евро равно</p>
        <h2>{{currency_euro}} рублям</h2>
        <p>{%now "N, j, Y, P"%}</p>
        <hr>
        <h2>Отправка курса на почту</h2>
        <p>
            <label>Введите почту</label><br>
            <input type="email" name="email"/>
        </p>
        <p>
            <label>Введите время</label><br>
            <input type="time" name="time"/>
        </p>
        <input type="submit" value="Сохранить" >
    </form>
    {% if people.count > 0 %}
    <h2>Список пользователей</h2>
    <table>
        <tr><th>email</th><td>   </td><th>время</th></tr>
        {% for person in people %}
        <tr><td>{{ person.email }}</td><td>   </td> <td>{{ person.time }}</td></tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>